html
{
	background-image: linear-gradient(blue, black);
	height: 100%;
}
body
{
    margin-left: 30%;
    margin-right: 30%;
	background-color: lightblue;
}

h1
{
    font-size: 200%;
    font-family: Helvetica;
    text-align: center;
}

#dice
{
    text-align: center ;
    text-emphasis: white ;
    text-shadow: black ;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    width: 20px;
    margin-left: 48%;
    margin-right: 48%;
}

#roll_amount
{
    padding-bottom: 20px;

}

p
{
    font-size: 100%;
    text-align: center;
    margin-bottom: 7px;
    margin-top: 4px;
}

form
{
    text-align: center ;
}

table
{
    text-align: left;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    position: static ;
}

button
{
   margin-top: 20px;
   text-align: center ;
   width: 50%;
   height: 50px;
   margin-left: 25%;
}
