body
{
	background-color: lightblue;
}

h1
{
    font-size: 200%;
    font-family: Helvetica;
    text-align: center;
}

p
{
    text-align: center;
}

form
{
    text-align: center ;
}

table
{
    text-align: left;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}

button
{
   margin-top: 20px;
   text-align: center ;
   width: 20%;
   height: 50px;
   margin-left:40%;
}
